:root {
    --clr-fg-light: #ece4db;
    --clr-bg-light: rgba(0,18,51,1);
    --clr-bg-dark: rgb(0,8,20);
    --clr-accent-light: #ffe66d;
    --clr-accent-dark: #efa00b;
    --clr-accent-alt: #E9BCB7;
}
