@import "fonts.css";
@import "colors.css";

header {
    display: grid;
    grid-template-columns: 10% [start] 80% [end] 10%;
}

article {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

footer {
    display: grid;
    grid-template-columns: 10% [start] 80% [end] 10%;
}

header * { grid-column: start / end; }
article .left { grid-column: 2 / 3; }
article .right { grid-column: 3 / 4; }
footer * { grid-column: start / end; }

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Bitter', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover { color: var(--link-hover); }

p {
    font: 400 1.1rem/1.8 "Manrope";
}

.main {
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main>span#title {
    font: 600 4rem "Bitter";
}

.main>p {
    font: 200 2rem/1.5 "Manrope";
}

button {
    background-color: var(--background);
    color: var(--link);
    border: 3px solid var(--link);
    border-radius: 10px;
    padding: 15px 32px;
    font: 700 1.5rem "Bitter";
    font-style: italic;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    color: var(--link-hover);
    border-color: var(--link-hover);
}

button:active {
    color: var(--foreground);
    border-color: var(--foreground);
}

button#chat-now {
    align-self: center;
    width: 100%;
}

hr {
    color: var(--ruler);
    width: 100%;
    border: 1px solid var(--ruler);
    margin-bottom: 0;
}

h1.banner {
    padding-bottom: 0;
}

span.logo {
    font: 700 6.5rem "Lemon Juice";
    position: relative;
    top: 13px;
    color: var(--link);
}

span.logo#nav-logo {
    font-size: 4rem;
    position: relative !important;
    top: -3px;
}

.nav {
    padding: 0.5rem 0.5rem 0 0.5rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav ul>li {
    font: 700 1.2rem "Bitter";
    font-style: italic;
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
}

.nav a {
    display: block;
    text-align: center;
    padding: 0.5rem !important;
}

figure.image>img {
    align-self: center;
    width: 100%;
    object-fit: contain;
}

.footer {
    padding: 1rem 4rem;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    article .left { grid-column: 2 / 4; padding-top: 3rem; }
    article .right { grid-column: 2 / 4; }
    .nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

}
