@import "fonts.css";

:root {
    --clr-bg-light: rgb(53, 255, 105);
    --clr-fg-light: rgb(49, 49, 47);
    --clr-accent-light: rgb(217, 3, 104);
    --clr-accent-dark: rgb(255, 0, 127);
    --ff-primary: "Manrope", sans-serif;
    --ff-accent: "Bitter", serif;
    font-size: 8px;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header { margin-top: 4rem; }

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.6;
    color: var(--clr-fg-light);
}

body, h1, h2, h3, p {
    margin: 0;
}

h1, h2, h3 {
    font-family: var(--ff-accent);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
}

p { margin-bottom: 1em; }

a {
    color: var(--clr-accent-light);
    text-decoration: none;
}

a:hover {
    color:  var(--clr-accent-dark);
}

button {
    background-color: transparent;
    color: var(--clr-accent-light);
    border: 3px solid var(--clr-accent-light);
    border-radius: 10px;
    padding: 0.5em 1em;
    font: 700 2.5rem "Bitter";
    font-style: italic;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    color: var(--clr-accent-dark);
    border-color: var(--clr-accent-dark);
}

button:active {
    color: var(--clr-fg-light);
    border-color: var(--clr-fg-light);
}

button#chat-now {
    width: 100%;
}

button#nav-button {
    font-size: 2rem;
    width: 100%;
}

button#burger-menu {
    border: 0 none transparent;
}
button#burger-menu:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 3rem 0;
}

.footer {
    font-size: 1.8rem;
    line-height: 2;
    text-align: center;
    padding: 5rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
    font: 700 2rem "Bitter";
    font-style: italic;
}

.nav-start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.nav-menu {
    display: none;
    width: 100%;
}

.is-active { display: inline; }

.nav-end { display: none; }

.nav-menu > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav-menu li {
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-menu a, .nav-end a {
    display: block;
    padding: 0.5em;
}

.nav-menu a:hover, .nav-end a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    margin-inline: auto;
    width: min(90%, 112.8rem);
}

.split {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.hero h1 {
    font-size: 6.4rem;
    font-weight: 600;
    color: var(--clr-fg-light);
    margin-bottom: 0.5em;
}

.hero p {
    font-weight: 200;
    font-size: 3rem;
}

@media (min-width: 50em) {
    :root { font-size: 10px; }
    section { padding: 0; }
    nav {
        flex-direction: row;
        justify-content: initial;
        align-items: center;
    }
    .nav-start {
        justify-self: flex-start;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
    }
    .nav-start + .nav-menu { margin-left: 2em; }
    .nav-menu {
        justify-self: flex-start;
        display: flex;
        width: auto;
    }
    #burger-menu { display: none; }
    .nav-menu > ul {
        flex-direction: row;
        justify-content: space-around;
    }
    .nav-end {
        margin-left: auto;
        display: inline;
    }
    .split {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .split > * {
        flex-basis: 100%;
    }
    .split > * + * {
        margin-left: 2em;
    }
    .hero {
        padding: 1em 4em 2em;
    }
}

.nav-logo {
    font: 700 6rem "Lemon Juice";
}

.bg-light { background-color: var(--clr-bg-light); }
.bg-dark { background-color: var(--clr-bg-light); }

.bg-light h1,
.bg-light h2,
.bg-light h3,
.bg-light .nav-logo { color: var(--clr-accent-light); }

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark .nav-logo { color: var(--clr-accent-dark); }
